@using B2C.Forms
@{ var form = ViewData["registerForm"] as RegisterForm; }

@{
    if (form.Email != null && !form.Email.Equals(""))
    {
        @Html.Raw("<script type='text/javascript'>$(document).ready(function(){ $('#login').click(); })</script>");
    }
}

<div id="register_div" style="display:none;">
    <fieldset>
        <legend>Registrar Usuario</legend>

        @using (Html.BeginForm("Register", "Customer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
        {
            if (TempData["errors"] != null)
            {
                @RenderPage("~/Views/Shared/errors.cshtml", new { errors = TempData["errors"] })
            }

            @Html.AntiForgeryToken()
            @Html.Hidden("returnUrl", this.Request.RawUrl)


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => form.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => form.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => form.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => form.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => form.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => form.LastName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => form.PhoneNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => form.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => form.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => form.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => form.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => form.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => form.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => form.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => form.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrarse" class="btn btn-default" />
                <input id="btn_login" type="button" value="Iniciar Sesion" class="btn btn-default" />
            </div>
        }
    </fieldset>
</div>