<div>
    <div class="col-md-1">
        <p class="subtitle">@Page.name</p>
        <span>@Page.description</span>
        <div class="img-responsive"><img src="@Page.image" /></div>
        @Html.ActionLink("Ver mas", "detalle", "producto", new { @id = Page.id },  new { @class = "button icon fa - file - text - o" })
        @Html.ActionLink("Comprar", "#", new {}, new { @class = "button icon fa - file - text - o", @id = "pro_" + Page.id })
    </div>
</div>
