@using B2C.Forms
@using B2C.Handlers
@{ var form = ViewData["form"] as CreditCardForm; }

<div class="overlay DispNone">
</div>

<div class="lightbox_big DispNone">
    <span class="icon-close pointer PosAbsolute Fright Fs50 DispTableCell close_lightbox_big White" id="close_lightbox_big"></span>
    <p class="Wid100 Opac100 BlueBack FontBold Fs20 White">Procesar Orden</p>
    <div class="MarAuto Form Responsive100">
        <div class="EmptyBox80 ShowOnDesktop"></div>
        <div class="EmptyBox20 ShowOnMobile"></div>

        <div class="Wid100 OvHidden BigTopic Fs30 TexAlCenter">
            <i class="fa fa-credit-card Fs60 DispBlock"></i>
            Tarjeta de credito
        </div>


        @using (Html.BeginForm("Proccess", "ShoppingCart", FormMethod.Post, new { @class = "form-horizontal", id = "creditCardForm", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <table class="Wid100">
                <tr>
                    <td class="Wid40"><label for="form_Franchise" class="Fs24 PadWithBorder5 BoldGray">Franquicia</label></td>
                    <td class="Wid60">
                        @Html.DropDownListFor(m => form.Franchise, HandlerResource.getFranchises(), new { @class = "ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid90" })
                    </td>
                </tr>
                <tr>
                    <td class="Wid40"><label for="form_Number" class="Fs24 PadWithBorder5 BoldGray">Numero</label></td>
                    <td class="Wid60">@Html.TextBoxFor(m => form.Number, new { @class = "ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid90" })</td>
                </tr>
                <tr>
                    <td class="Wid40"><label for="form_SECRET_CODE" class="Fs24 PadWithBorder5 BoldGray">Codigo Secreto</label></td>
                    <td class="Wid60">@Html.TextBoxFor(m => form.SECRET_CODE, new { @class = "ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid90" })</td>
                </tr>
                <tr>
                    <td class="Wid40"><label for="form_Year" class="Fs24 PadWithBorder5 BoldGray">Vencimiento</label></td>
                    <td class="Wid60">
                        @Html.DropDownListFor(m => form.Year, HandlerResource.getYears(), new { @class = "ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid40" })
                        @Html.DropDownListFor(m => form.Month, HandlerResource.getMonths(), new { @class = "ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid40" })
                    </td>
                </tr>
                <tr>
                    <td class="Wid40"><label for="form_Dues" class="Fs24 PadWithBorder5 BoldGray">Cuotas</label></td>
                    <td class="Wid60">
                        @Html.DropDownListFor(m => form.Dues, HandlerResource.getDues(), new { @class = "ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid40" })
                    </td>
                </tr>
            </table>

            <div class="EmptyBox10"></div>
            <div class="ClearBoth TexAlCenter">
                <input type="submit" value="Procesar Orden" class="RaisedButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left  Fs18 White FloatNoneOnMobile TexAlCenter pointer Wid80" />
            </div>
        }
    </div>
</div>