@{
    var i = Page.min;
}

<nav>
    <ul class="pagination">
        <li>
            <a href="@Url.Action(@Page.action as String, @Page.controller as String, new { @page =  1, search = @Page.search, search_by = @Page.search_by })">Primer Pagina</a>
        </li>
        @for (i = @Page.min; i <= @Page.max; i++)
        {
            <li> <a href="@Url.Action(@Page.action as String, @Page.controller as String, new { @page = i, search = @Page.search, search_by = @Page.search_by })">@i</a></li>
        }
        <li>
            <a href="@Url.Action(@Page.action as String, @Page.controller as String, new { @page =  Page.total_page, search = @Page.search, search_by = @Page.search_by })">Ultima Pagina</a>
        </li>

    </ul>
</nav>