<div class="paginator">
    <nav class="n_pagination">
        <ul class="pagination" id="pagination">
            @for (var i = 1; i <= @Page.total_page; i++)
            {
                if (i != @Page.actual_page)
                {
                    <li>
                        @Html.ActionLink(i.ToString(), @Page.action as String, @Page.controller as String, new { @page = i, search = @Page.search, search_by = @Page.search_by }, new { @class = "pager" })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(i.ToString(), @Page.action as String, @Page.controller as String, new { @page = i, search = @Page.search, search_by = @Page.search_by }, new { @class = "pager disable" })
                    </li>
                }
            }
        </ul>
    </nav>
</div>

